.popular__genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 33px;
}

.popular__genre {
    border-radius: 20px;
    margin-bottom: 20px;
}

.popular__channels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    position: relative;
}

.popular__channel {
    border-radius: 20px;
}

.popular__actors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    position: relative;
}

.popular__actor {
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.actor__name {
    margin-bottom: -44px;
    font-size: 19px;
}