.section__title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 20px;
    margin-bottom: 46px;
    margin-left: 16px;
    position: relative;
    &::before {
        content: "";
        background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
        border-radius: 50px;
        height: 35px;
        width: 6px;
        position: absolute;
        top: -11px;
        left: -16px;
    }
}

.section__tittle_margin-top {
    margin-top: 115px;
}

.trending__shows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    position: relative;
}

.trending__show {
    box-shadow: 0 0 23px -10px #26FFF2;
    border-radius: 20px;
}

.section-slider-button {
    position: absolute;
    right: -45px;
    top: 50%;
    margin-top: -17px;
}

.trending__movies {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
}

.trending__movie {
    border-radius: 20px;
}